<template>
  <el-dialog title="简介" width="30%" :visible.sync="$store.state.dialog.show">{{msg}}</el-dialog>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Vue Image Online Editor Tool，More Functions More Useful ！'
    }
  },
  computed: {
  }
}
</script>
