<template>
  <div id="app" :class="showBgs">
    <img src="./assets/logo.png">
    <div class="msg">{{msg}}</div>
    <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#fff"
        text-color="#409EFF"
        active-text-color="#409EFF"
        router=true>
        <el-menu-item index="/">压缩单个图像文件</el-menu-item>
        <el-menu-item index="editor">调整单个图像文件的大小</el-menu-item>
        <el-menu-item index="3">裁剪图像文件</el-menu-item>
        <el-menu-item index="4">转换至JPG文件</el-menu-item>
        <el-menu-item index="5">照片编辑器</el-menu-item>
      </el-menu>
    <router-view/>
    <div v-show="toggles" class="foot">Tools by @Lance</div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      msg: 'Vue Image Online Editor Tool',
      activeIndex: '1',
      activeIndex2: '1'
    }
  },
  methods: {
    handleSelect (key, keyPath) {
      console.log(key, keyPath)
    }
  },
  computed: {
    toggles: function () {
      return this.$store.getters.not_show
    },
    showBgs: function () {
      return this.$store.getters.not_show ? 'bgs' : ''
    }
  },
  name: 'App'
}
</script>

<style>
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#app img{
  width: 60px;
  height: 60px;
  margin-top: 20px;
}
.bgs{
  background-color: rgb(215, 250, 241)!important
}
.msg{
  color: #409EFF;
  margin-bottom: 20px;
}
.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #409eff;
  padding: 10px 20px;
}
.el-menu.el-menu--horizontal{
   width: 37.5%;
   margin: 0 auto;
}
</style>
