<template>
  <div class="toggleTab">
    <el-button type="primary" plain @click="$store.dispatch('switch_dialog')">查看简介</el-button>
    <el-button type="success" plain ><router-link to="/editor">图片编辑</router-link></el-button>
    <dialogs></dialogs>
  </div>
</template>

<script>
import dialog from '../../components/promt/promt.vue'
export default {
  components: {
    'dialogs': dialog
  }
}
</script>

<style scoped>
.toggleTab{
  margin-top: 10px;
}
</style>

